<!DOCTYPE html>
<html lang="en">
<!-- head -->
<% include ./partials/head %>
<!-- head -->
<body>
<div id="wrapper" class="home-page">
    <!-- header -->
    <% include ./partials/header %>
    <!-- header -->

    <!-- main -->
    <%- body %>

        <!-- footer -->
<% include ./partials/footer %>
    </div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>

    <!-- footer -->
<% include ./partials/footer_script %> 

    
</body>
</html>