<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Super Awesome</title>
<link rel="icon" href="/img/Siemens-Icon.jpg" type="image/jpg" sizes="16x16">
<!-- Load Required CSS & JS From public Folder -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/font-awesome.css">
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.form-validator.min.js"></script>
<style>
    body    { padding-top:50px; }
</style>